* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f8;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #0a66c2;
  color: white;
}
.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.hero {
  background: white;
  text-align: center;
  padding: 60px 20px;
}

.hero h1 {
  font-size: 40px;
}

.hero p {
  margin: 15px 0;
  color: gray;
}

.search-box {
  margin-top: 20px;
}

.search-box input {
  padding: 10px;
  width: 200px;
  margin: 5px;
}

.search-box button {
  padding: 10px 20px;
  background: #0a66c2;
  color: white;
  border: none;
}


.categories {
  padding: 40px;
  text-align: center;
}

.category-box {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.category-box div {
  background: white;
  padding: 15px 30px;
  border-radius: 20px;
}
.jobs {
  padding: 40px;
}

.job-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.job-card {
  background: white;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.job-card h3 {
  margin-bottom: 10px;
}

.job-card span {
  color: green;
  font-weight: bold;
}

.job-card button {
  margin-top: 10px;
  padding: 8px;
  width: 100%;
  background: #0a66c2;
  color: white;
  border: none;
}

.footer {
  text-align: center;
  padding: 20px;
  background: #0a66c2;
  color: white;
  margin-top: 40px;
}
